.list {
  display: grid;
  grid-template-columns: 30px 300px 60px 60px;
  align-items: center;
  justify-content: flex-start;
  column-gap: 10px;
  padding: 10px ;
  background-color: white;
  margin-bottom: 8px;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}




button:hover {
  opacity: 0.58;
}

.add-button {
  background-color: #4caf50;
  color: white;
  margin-top: 15px;
  
}

.filters {
  margin-top: 5px;
  display: flex;
  gap: 10px;
}
.filters button {
  padding: 5px 20px;
 }
 .filters button:hover {
  background-color: #a1f398;
 }
